{% extends 'base.html.twig' %}

{% block body %}

<div class="card" style="width: 18rem;">
  <img src="{{ asset('images/colors.jpg') }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title {{colorText}}">
        <i class="bi bi-record-fill"></i> 
        {{color}}
    </h5>
  </div>
</div>

{% endblock %}